[Unit]
Description=Monitor the downloads folder and sort files by their file extension
StartLimitIntervalSec=2000
StartLimitBurst=5

[Service]
ExecStart={{ .chezmoi.homeDir }}/.virtualenvs/dirmon/bin/python {{ .chezmoi.homeDir }}/.local/bin/monitor_directory
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
