[Unit]
Description=Feature-full Telegram bot with triggers capability
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
WorkingDirectory=/home/sonico/Dev/Telegram_Bots/NeoKimberly_prod
ExecStart=/home/sonico/Dev/Telegram_Bots/NeoKimberly_prod/venv/bin/python3.12 kimberly
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
