[Unit]
Description=Wallpaper daemon
BindsTo=sway-session.target
Requires=sway-session.target
StartLimitIntervalSec=400
StartLimitBurst=20

[Service]
ExecCondition=sh -c 'ps | grep "sway"'
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/swww-daemon -f xrgb
Restart=always
RestartSec=20

[Install]
WantedBy=sway-session.target
