{{- $gituser := promptStringOnce . "gituser" "GitHub config name" -}}
{{- $gitemail := promptStringOnce . "gitemail" "GitHub config email" -}}
{{- $gitaltenv := promptStringOnce . "gitaltenv" "GitHub alt. dev environment (or leave blank)" -}}
{{- $gpgemail := promptStringOnce . "gpgemail" "Email address (for GPG keys)" -}}

encryption = "gpg"

[data]
	gituser = {{ $gituser | quote }}
	gitemail = {{ $gitemail | quote }}
	{{ if ne (len $gitaltenv) 0 -}}
	gitaltenv = {{ $gitaltenv | quote }}
	{{- end}}

[gpg]
	recipient = {{ $gpgemail | quote }}
	symmetric = false


{{- if findExecutable "keepassxc-cli" (list "/bin" "/usr/bin") }}
{{- $keepassdb := promptStringOnce . "keepassdb" "Keepass db location (or leave blank)" }}
{{- $keepasskeyf := promptStringOnce . "keepasskeyf" "Keepass db key file (or leave blank)" }}

{{ if ne (len $keepassdb) 0 -}}
[keepassxc]
	database = {{ $keepassdb | quote }}
	{{- if ne (len $keepasskeyf) 0 }}
	args = ["--key-file", {{ $keepasskeyf | quote }}]
	mode = "open"
	{{- end }}
{{- end }}

{{- end -}}
