config/coc/
scripts/FFBatch/
/config/mpv/watch_later/
/config/kitty/kitty.conf.bak
/config/kitty/current-theme.conf
/config/sway/outputs
/config/htop/htoprc
/config/zsh/.zsh_history
icons/default/cursors
config/btop/btop.log
