[submodule "config/bat/syntaxes/ST-ASS"]
	path = config/bat/syntaxes/ST-ASS
	url = https://github.com/jfcherng-sublime/ST-ASS
[submodule "config/bat/themes/ayu"]
	path = config/bat/themes/ayu
	url = https://github.com/dempfi/ayu
[submodule "scripts/i3/i3-dynamic-backgrounds"]
	path = scripts/sway/i3-dynamic-backgrounds
	url = https://github.com/VPavliashvili/i3-dynamic-backgrounds
[submodule "config/yazi/plugins/allmytoes.yazi"]
	path = config/yazi/plugins/allmytoes.yazi
	url = https://github.com/Sonico98/allmytoes.yazi.git
[submodule "config/yazi/plugins/relative-motions.yazi"]
	path = config/yazi/plugins/relative-motions.yazi
	url = https://github.com/dedukun/relative-motions.yazi.git
[submodule "scripts/qxdrag"]
	path = scripts/qxdrag
	url = https://github.com/DreamMaoMao/qxdrag
[submodule "config/yazi/plugins/ouch.yazi"]
	path = config/yazi/plugins/ouch.yazi
	url = https://github.com/ndtoan96/ouch.yazi
[submodule "config/kitty/scripts/kitty_grab"]
	path = config/kitty/scripts/grab
	url = https://github.com/yurikhan/kitty_grab
[submodule "config/yazi/plugins/mkdir.yazi"]
	path = config/yazi/plugins/mkdir.yazi
	url = https://github.com/Sonico98/mkdir.yazi
[submodule "scripts/check_waybar_tray"]
	path = scripts/check_waybar_tray
	url = https://github.com/ShikharArvind/check_waybar_tray
