[submodule "config/bat/syntaxes/ST-ASS"]
	path = config/bat/syntaxes/ST-ASS
	url = https://github.com/jfcherng-sublime/ST-ASS
[submodule "config/bat/themes/ayu"]
	path = config/bat/themes/ayu
	url = https://github.com/dempfi/ayu
[submodule "scripts/i3/i3-dynamic-backgrounds"]
	path = scripts/i3/i3-dynamic-backgrounds
	url = https://github.com/VPavliashvili/i3-dynamic-backgrounds
