[submodule "config/bat/syntaxes/ST-ASS"]
	path = config/bat/syntaxes/ST-ASS
	url = https://github.com/jfcherng-sublime/ST-ASS
[submodule "config/bat/themes/ayu"]
	path = config/bat/themes/ayu
	url = https://github.com/dempfi/ayu
[submodule "scripts/i3/i3-dynamic-backgrounds"]
	path = scripts/sway/i3-dynamic-backgrounds
	url = https://github.com/VPavliashvili/i3-dynamic-backgrounds
[submodule "config/yazi/plugins/mime.yazi"]
	path = config/yazi/plugins/mime.yazi
	url = https://github.com/DreamMaoMao/mime.yazi.git
