[Desktop Entry]
Type=Application
Name=Clight
Exec=clight -c /home/sonico/.config/clight/clight.conf
NoDisplay=true
Comment=Start Clight user daemon to turn your webcam into a light sensor
Categories=System
