[Desktop Entry]
Name=materialgram
Comment=Unofficial Telegram Desktop with Material Design
TryExec=materialgram
Exec=materialgram -autostart
Icon=materialgram
Terminal=false
StartupWMClass=materialgram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;telegram;materialgram
Actions=quit;
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

