[Desktop Entry]
Type=Application
Name=Vesktop
Comment=Vesktop autostart script
Exec=/usr/bin/vesktop --ozone-platform=wayland %U
StartupNotify=false
Terminal=false
