{{ if eq .chezmoi.os "linux" -}}

#!/bin/bash

# Define ANSI escape codes
RED='\033[1;31m'     # Bold red
BLUE='\033[1;34m'    # Bold blue
YELLOW='\033[1;33m'  # Bold yellow
MAGENTA='\033[1;35m' # Bold magenta
NC='\033[0m'         # No color (reset)
{{ if eq .chezmoi.osRelease.id "arch" -}}
touch ./output.log
echo -e "$(date)" >> ./output.log
echo ""
addRepo=false
read -p "$(echo -e ${RED}'Add archlinuxcn repo?'${NC}' [Y/n] ')" answer
case "$answer" in
	[Nn]* ) addRepo=false ;;
	* ) addRepo=true ;;
esac

if [ "$addRepo" = true ]; then
	printf '\n[archlinuxcn]\nServer = https://repo.archlinuxcn.org/$arch\n' | sudo tee -a /etc/pacman.conf
fi

installPkgs=false
echo ""
read -p "$(echo -e ${RED}'Install required packages? (recommended)'${NC}' [Y/n] ')" answer
case "$answer" in
	[Nn]* ) installPkgs=false ;;
	* ) installPkgs=true ;;
esac

if [ "$installPkgs" = true ]; then
	echo -e "${BLUE}Updating packages and mirrors first${NC}"
	echo ""
	echo "--- Start system update ---" >> ./output.log
	sudo pacman -Syyu --noconfirm >>./output.log 2>&1

	{{- $termpkgs := "" -}}
	{{- range .packages.arch.terminal -}}
	  {{- $termpkgs = printf "%s %s" $termpkgs . -}}
	{{- end }}
	echo ""
	echo -e "${BLUE}Installing packages required for the terminal${NC}"
	echo ""
	echo "" >>./output.log
	echo "--- Start install terminal packages ---" >>./output.log
	sudo pacman --noconfirm --needed -S {{- $termpkgs }} >>./output.log 2>&1


	optGUI=false
	echo ""
	echo -e "${YELLOW}The following packages are not mandatory:${NC}"
	echo -e "${YELLOW}- darkman: Allows switching between light and dark themes automatically throughout the day.${NC}"
	echo -e "${YELLOW}- swww: Allows changing wallpapers with smooth transitions.${NC}"
	read -p "$(echo -e ${RED}'Would you like to install them?'${NC}' [Y/n] ')" answer
	case "$answer" in
		[Nn]* ) optGUI=false ;;
		* ) optGUI=true ;;
	esac

	{{- $guipkgs := "" -}}
	{{- range .packages.arch.gui -}}
	  {{- $guipkgs = printf "%s %s" $guipkgs . -}}
	{{- end }}

	{{- $optguipkgs := "" -}}
	{{- range .packages.arch.guiOpt -}}
	  {{- $optguipkgs = printf "%s %s" $optguipkgs . -}}
	{{- end }}

	echo ""
	echo -e "${BLUE}Installing packages required for sway's UI and experience${NC}"
	echo "" >>./output.log
	echo "--- Start install GUI packages ---" >>./output.log
	if [ "$optGUI" = true ]; then
		sudo pacman --noconfirm --needed -S {{- $guipkgs }} {{- $optguipkgs }} >>./output.log 2>&1
	else
		sudo pacman --noconfirm --needed -S {{- $guipkgs }} >>./output.log 2>&1
	fi

	echo ""
	echo -e "${BLUE}Installing packages only available on the AUR${NC}"
	echo -e "${BLUE}This will take a while...${NC}"
	echo ""
	echo "" >>./output.log
	echo "--- Start install AUR packages ---" >>./output.log 2>&1
	{{ $aurguipkg := "" -}}
	{{- range .packages.arch.guiAUR }}
	{{ if not (findExecutable . (list "/bin" "/usr/bin" "/usr/lib")) -}}
	git clone 'https://aur.archlinux.org/{{- . -}}.git' >>./output.log 2>&1
	cd {{ . }}
	echo -e "${BLUE}Compiling {{ . }}...${NC}"
	makepkg -si --noconfirm --needed >>../output.log 2>&1
	cd .. && rm -rf {{ . }}
	{{ end }}
	{{- end }}
fi


{{ end -}}

{{ end -}}
