[Unit]
Description=Playerctl Daemon to monitor active players
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/playerctld
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target
