[Unit]
Description=Telegram rss bot
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
WorkingDirectory=/home/sonico/Dev/Telegram_Bots/RSS-to-Telegram-Bot/
ExecStart=python /home/sonico/Dev/Telegram_Bots/RSS-to-Telegram-Bot/telegramRSSbot.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
