[Unit]
Description=Wallpaper daemon
StartLimitIntervalSec=9000
StartLimitBurst=10
BindsTo=sway-session.target
After=sway-session.target

[Service]
ExecStart=/usr/bin/swww-daemon -f xrgb
Restart=always
RestartSec=2s

[Install]
WantedBy=default.target
