blur {
	passes 3
	offset 2
	noise 0.02
	saturation 1.5
}

window-rule {
	match app-id="kitty"
	match app-id="io.github.kukuruzka165.materialgram"
	background-effect {
		blur true
	}
}

window-rule {
    match is-window-cast-target=true
    focus-ring {
        active-gradient from="#f38ba8ee" to="#cc241dee" angle=45
    }
}

layer-rule {
	match namespace="rofi"
	background-effect {
		xray false
		blur true
	}
}
