[Unit]
Description=Aria2 Daemon

[Service]
Type=forking
ExecStart=/usr/bin/aria2c --conf-path=/home/sonico/.config/aria2/aria2.conf

[Install]
WantedBy=graphical-session.target
