[Unit]
Description=Autostart desktop files
PartOf=sway-xdg-autostart.target
After=sway-xdg-autostart.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dex -a -e sway

[Install]
WantedBy=sway-xdg-autostart.target
