[Unit]
Description=Screen locker for Wayland
# If swaylock exits cleanly, unlock the session:
OnSuccess=unlock.target
# When lock.target is stopped, stops this too:
PartOf=lock.target
# Delay lock.target until this service is ready:
Before=lock.target

[Service]
Type=oneshot
ExecStart={{ .chezmoi.homeDir }}/.local/bin/swaylockbg
ExecStartPost={{ .chezmoi.homeDir }}/.local/bin/swaylockbg_post
; ExecStart=/usr/bin/swaylock -f
# Hyprlock will keep restarting if restart is set to other than never
Restart=never
RestartSec=0
Environment="LOCKSCREEN_DIR=/tmp/lockscreen"

[Install]
WantedBy=lock.target
