[Unit]
Description=Telegram rss bot
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
WorkingDirectory=/home/sonico/Documents/Dev/Bots/RSS-to-Telegram-Bot/
ExecStart=/home/sonico/.virtualenvs/rssbot/bin/python /home/sonico/Documents/Dev/Bots/RSS-to-Telegram-Bot/telegramRSSbot.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
