[Unit]
Description=Wallpaper daemon
PartOf=sway-session.target
After=sway-session.target
StartLimitIntervalSec=2000
StartLimitBurst=200
ConditionPathExistsGlob=/run/user/1000/sway-ipc.*.sock

[Service]
ExecStart=/usr/bin/swww-daemon -f xrgb
Restart=on-failure
RestartSec=2

[Install]
WantedBy=sway-session.target
